<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">


	<!-- =============================
		 Properties for file paths
		 ============================= -->
	<property name="LOG_DIR" value="log" />
	<property name="ARCHIVE_DIR" value="log/archive" />

	<!-- ==========================
		 CONSOLE (JSON)
		 ========================== -->
	<appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
					<pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<mdc/>
				<message/>
				<stackTrace/>
			</providers>
			<jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
		</encoder>
	</appender>


	<!-- ==========================
		 FILE (JSON)
		 ========================== -->
	<appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/carrentalbot.json</file>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
					<pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
				</timestamp>
				<logLevel/>
				<threadName/>
				<loggerName/>
				<mdc/>
				<message/>
				<stackTrace/>
			</providers>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${ARCHIVE_DIR}/carrentalbot-%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>


	<!-- ==========================
		 ERROR FILE ONLY (JSON)
		 ========================== -->
	<appender name="ERROR_FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/errors.json</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
					<pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
				</timestamp>
				<logLevel />
				<threadName />
				<loggerName />
				<message />
				<mdc />
				<stackTrace />
			</providers>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${ARCHIVE_DIR}/errors-%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>


	<!-- ==========================
		 ASYNC WRAPPERS
		 ========================== -->
	<appender name="ASYNC_CONSOLE_JSON" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="CONSOLE_JSON"/>
		<queueSize>5000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>false</includeCallerData>
	</appender>

	<appender name="ASYNC_FILE_JSON" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_JSON"/>
		<queueSize>5000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>false</includeCallerData>
	</appender>

	<appender name="ASYNC_ERROR_JSON" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ERROR_FILE_JSON"/>
		<queueSize>5000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>false</includeCallerData>
	</appender>


	<!-- ==========================
		 LOGGERS
		 ========================== -->
	<logger name="org.example.carrentalbot" level="DEBUG" additivity="false">
		<appender-ref ref="ASYNC_CONSOLE_JSON"/>
		<appender-ref ref="ASYNC_FILE_JSON"/>
		<appender-ref ref="ASYNC_ERROR_JSON"/>
	</logger>

	<logger name="org.springframework" level="INFO"/>
	<logger name="org.hibernate" level="INFO"/>


	<!-- ==========================
		 ROOT LOGGER
		 ========================== -->
	<root level="WARN">
		<appender-ref ref="ASYNC_CONSOLE_JSON"/>
		<appender-ref ref="ASYNC_FILE_JSON"/>
		<appender-ref ref="ASYNC_ERROR_JSON"/>
	</root>

</configuration>